Flask/1-hello-word.py/venv/
Flask/2-templates.py/venv/
REST-APIs/Flask_React_Mongo/backend/venv/
Intermediate-Course/venv/
FastAPICourse/fast/
MLFlowCourse/mlflow_env/
NumpyPandasCourse/mtnp/
TensorFlowProfessional/tensor/
Intermediate-Course/venv
